
.content {
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.toDo-div {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #333;
    padding: 5px;
}

.form-control {
    width: 50%;
    display: inline-block;
}
.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
    margin: 0px 3px;
}

li{
    color: purple;
    list-style: circle;
}
.error{
    color: red;
    display: none;
}